<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand big-big-font" href="<%= root_path %>">TWITCH</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <!-- <%# if current_user %>
          <li><a href="<%= "#" %>" data-method="delete" class="cart-link">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <li><a href="<%= "#" %>" class="cart-link">
          <span class="glyphicon glyphicon-user"></span>My Account</a></li>
        <%# else %> -->
          <li><%= link_to "Login with Twitch", twitch_login_path %>
          <span class="glyphicon glyphicon-log-in"></span></a></li>
          <li><a href="<%= "#" %>" class="cart-link">
          <span class="glyphicon glyphicon-user"></span>Create Account</a></li>
          <li><a href="<%= "#" %>" class="category-link">Categories</a></li>
        <%# end %>
    </ul>
  </div>
</nav>
